<% if @game.errors.any? %>
	<h2>The following errors prevented the game from being created.</h2>
	<ul>
		<%= @game.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	</ul>
		<% end %>
<% end %>

<%= form_for @game do |f| %>
	<p>
		<%= f.label :type_of_game %>
		<%= f.text_field :type_of_game %>
	</p>
	<p>
		<%= f.label :number %>
		<%= f.text_field :number %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>