<% obj.each do |game| %>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8 col-xs-12">
			<div class="well well-lg">
				<div class="game-title">
					<%= link_to game.type_of_game, game_path(game) %> - Game #<%= game.number %> - Winner: <%= game.winner %>
				</div>
				<div class="game-body">
					<div class="row">
						<div class="col-md-4">
							Player 1: <%= game.Player1_id %>
						</div>
						<div class="col-md-4">
							Skunk?: <%= game.skunk %>
						</div>
						<div class="col-md-4">
							Muggins Points: <%= game.muggins_points %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							Player 2: <%= game.Player2_id %>
						</div>
						<div class="col-md-4">
							<%= pluralize(game.perfect_hand, "Perfect Hand") %>
						</div>
						<div class="col-md-4">
							Misdeals: <%= game.misdeals %>
						</div>
					</div>

					<div class="game-meta-details">
						<small>
							Created by: <%= game.user.username if game.user %>,
							<%= time_ago_in_words(game.created_at) %> ago,
							last updated: <%= time_ago_in_words(game.updated_at) %> ago
						</small>
					</div>
				</div>
				<% if logged_in? && (current_user == game.user || current_user.admin?) %>
					<%= link_to "Edit this game", edit_game_path(game), class: "btn btn-xs btn-primary" %>
					<%= link_to "Delete Game", game_path(game), method: :delete, data: {confirm: "Are you sure you want to delete this game?"}, class: "btn btn-xs btn-danger" %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>