<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Goochme", root_path, class: 'btn btn-danger btn-sm', id: "logo" %>
    <div class="nav_item">
      <%= link_to "Games", games_path, class: 'btn btn-primary btn-sm' %>
    </div>
    <div class="nav_item">
      <%= link_to "About", about_path, class: 'btn btn-primary btn-sm' %>
    </div>
    <% if logged_in? %>
    <div id="logout">
      <%= link_to "Logout", logout_path, method: :delete, class: 'btn btn-primary btn-sm' %>
    </div>
    <% else %>
    <div id="login">
      <%= link_to "Login", login_path, class: 'btn btn-primary btn-sm' %>
    </div>
    <div id="signup">
      <%= link_to "Sign Up", signup_path, class: 'btn btn-primary btn-sm' %>
    </div>
    <% end %>
  </div>
</header>