<!DOCTYPE html>
<html>
  <head>
    <title>Goochme.com</title>
    <%= favicon_link_tag 'iphone_home_icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if @nav_true %>
      <%= render 'layouts/nav' %>
    <% end %>

    <div class="container">
    <%= render 'layouts/messages' %>
    </div>
    <%= yield %>

    <% if @footer_true %>
      <div class="footer center">
        <p>&copy; Goochme.com 2015</p>
      </div>
    <% end %>
  </body>
</html>
